body {
  margin: 0;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-btn {
  border-radius: 25px !important;
  background-color: #ffffff !important;
  color: #000000 !important;
}

.secondary-btn {
  border-radius: 25px !important;
  color: #ffffff !important;
}

.css-j400xw-MuiPaper-root-MuiDrawer-paper {
  background-color: #222222 !important;
}
